<ul class="collection with-header" style="margin:50px;padding:50px;margin-left: 35%; margin-right: 35%;">
    <center id="heading" ><h3>Введите логин</h3></center>
    <form action="/forget" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <input type="submit" value="Далее"/>
        
    </div>
    </form>
</ul>