<ul class="collection with-header" style="margin:50px;padding:50px;margin-left: 35%; margin-right: 35%;">
    <center id="heading" ><h3>Авторизация</h3></center>
    <form action="/login" method="post">
    <div>
        <label>Логин:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Пароль:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Войти"/>
        <br>
        <br>
        <br>
        <a href="/forget">Забыли пароль ?</a>
    </div>
    </form>
</ul>

