<ul class="collection with-header" style="margin:50px;padding:50px;margin-left: 35%; margin-right: 35%;">
    <center id="heading" ><h4>Введите прверочный код</h4></center>
    <br>
    <form action="/pin" method="post">
    <div>
        <label>Код:</label>
        <input type="password" name="pin"/>
    </div>
    <div>
        <label>Новый пароль:</label>
        <input type="password" name="new_password"/>
    </div>
    <div>
        <input type="submit" value="Изменить пароль администратора"/>
        
    </div>
    </form>
</ul>