<nav>
    <div class="nav-wrapper green darken-1">
      
        <!-- Dropdown Trigger -->
        <a class='dropdown-trigger btn right' href='#' data-target='dropdown1' style="margin:12px;">{{this.login}}</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content '>
            
            <li><a href="/logout"><i class="material-icons">exit_to_app</i>выход</a></li>
        </ul>
    </div>
  </nav>